* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, cursive;
/*font-family: cursive;*/
    line-height: 1.6;
/*    background-color: #191919;*/
    color: #333;
/*    curser anumation css*/
  background: radial-gradient(circle, rgba(255,255,255,0.1), rgba(0,0,0,0.8));
    transition: background 0.5s ease-out;
}

body.smoky {
    /*    curser anumation css*/
    background: radial-gradient(circle at var(--x) var(--y), rgba(255,255,255,0.1), rgba(0,0,0,0.8), rgba(0,0,0,0.9));
}
  



/*  Main container css*/
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
/*    background: #fff;*/
/*    background-color: #191919;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    border-radius: 10px;
}


/*Header css*/


header {
    text-align: center;
    margin-bottom: 20px;
    background: #ffbd39;;
    border-radius: 10px 10px 0px 0px;
}

header h1 {
    font-size: 2.5em;
    color: #333;
}


/*Section background animation css start*/



.box{
/*  width: 300px; height: 200px;*/
  background-color: #DDFFF7;
  position: relative;
  box-shadow: 10px 10px 42px 0 rgba(0,0,0,0.75);
}
.box:after, .box:before{
  mix-blend-mode:multiply;
  filter:none;
  z-index: -1;
  content:'';
  width:calc(100% + (50px * 2));
  height:calc(100% + (50px * 2));
  position: absolute;
  display: block;
  animation: border 10s ease-in-out infinite;
  transform:translateX(-50px) translateY(-50px);
}
@keyframes border {
  0%, 100% {
    -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
            clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
  }
  50% {
    -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
            clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
  }
}

.box:after{
  animation-delay: -5s;
  background-color: #93e1d8;
  clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
}
.box:before {
  background-color: #AA4465;
    clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
}
/*
.box:hover:after{
  animation-delay: -0.1s;
}
.box:hover:before, .box:hover:after {

          animation-duration: 0.2s;
}
*/


/*professional-info Section css start*/


.professional-info {

    display: flex;
    align-items: flex-start;
    margin-top: 20px;
            background-image: url('../images/bg_1.jpg');
            background-repeat: no-repeat;

/*    background: #fff;*/
    border-radius: 0px 0px 10px 10px;
}
.professional-info strong{
    color: black;
}
.profile-photo {
    flex: 1;
    margin-right: 20px;
    margin-top: 10px;
}

.profile-photo img {

    max-width: 100%;

/*    border-radius: 10px;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

.info {
    flex: 3;
}

.info h2 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}

.info p, .info ul {
    font-family: cursive;
    font-size: 1.1em;
    color: #fff;
    margin-bottom: 10px;
}

.info ul {
    list-style-type: disc;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    header h1 {
        font-size: 2em;
    }

    .professional-info {

        flex-direction: column;
        align-items: center;
    }

    .profile-photo {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .info h2 {
        font-size: 1.5em;
    }

    .info p, .info ul {
        font-family: cursive;
        font-size: 1em;
    }
}




/*second background animation box css start*/


.box1{
/*  width: 300px; height: 200px;*/
  background-color: #DDFFF7;
  position: relative;
  box-shadow: 10px 10px 42px 0 rgba(0,0,0,0.75);
}
.box1:after, .box1:before{
  mix-blend-mode:multiply;
  filter:none;
  z-index: -1;
  content:'';
  width:calc(100% + (50px * 2));
  height:calc(100% + (50px * 2));
  position: absolute;
  display: block;
  animation: border 10s ease-in-out infinite;
  transform:translateX(-50px) translateY(-50px);
}
@keyframes border {
  0%, 100% {
    -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
            clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
  }
  50% {
    -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
            clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
  }
}

/*.box1:after{
  animation-delay: -5s;
  background-color: #93e1d8;
  clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
}*/
.box1:before {
  background-color: #AA4465;

    clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
}
/*
.box1:hover:after{
  animation-delay: -0.1s;
}
.box1:hover:before, .box:hover:after {

          animation-duration: 0.2s;
}
*/




/*study-struggle section css start*/



.study-struggle {
    margin-top: 40px;
    padding: 20px;
    background-image: url('../images/bg_1.jpg');
    background-repeat: no-repeat;
/*    background-color: #f9f9f9;*/
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.study-struggle h2 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 15px;
}

.study-struggle p {
    font-family: cursive;
    font-size: 1.1em;
    margin-bottom: 15px;
    line-height: 1.6;
    color: #fff;
}

.study-struggle strong {
    color: black;
}

@media (max-width: 768px) {
    .study-struggle h2 {
        font-size: 1.5em;
    }

    .study-struggle p {

        font-size: 1em;
    }
}




/*third background animation box css start*/


.box3{
/*  width: 300px; height: 200px;*/
  background-color: #DDFFF7;
  position: relative;
  box-shadow: 10px 10px 42px 0 rgba(0,0,0,0.75);
}
.box3:after, .box3:before{
  mix-blend-mode:multiply;
  filter:none;
  z-index: -1;
  content:'';
  width:calc(100% + (50px * 2));
  height:calc(100% + (50px * 2));
  position: absolute;
  display: block;
  animation: border 10s ease-in-out infinite;
  transform:translateX(-50px) translateY(-50px);
}
@keyframes border {
  0%, 100% {
    -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
            clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
  }
  50% {
    -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
            clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
  }
}

/*.box1:after{
  animation-delay: -5s;
  background-color: #93e1d8;
  clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
}*/
.box3:before {
  background-color:#93e1d8;

    clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
}
/*
.box1:hover:after{
  animation-delay: -0.1s;
}
.box1:hover:before, .box:hover:after {

          animation-duration: 0.2s;
}
*/




/*personal-info Section css start*/



.personal-info {
    margin-top: 40px;
    padding: 20px;
    background-image: url('../images/bg_3.jpg');
    background-repeat: no-repeat;
/*    background-color: #f9f9f9;*/
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.personal-info h2 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 15px;
    text-align: center;
}

.personal-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.text-content {
    flex: 2;
}

.text-content p {
    font-family: cursive;
    font-size: 1.1em;
    color: #fff;
    margin-bottom: 15px;
    line-height: 1.6;
}

.text-content strong {
    color:black;
}

.image-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.personal-img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .personal-info h2 {
        font-size: 1.5em;
    }

    .personal-grid {
        flex-direction: column;
    }

    .text-content p {
        font-size: 1em;
    }

    .image-content {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .personal-img {
        width: 45%;
        margin: 5px;
    }
}


/*social-media Section css start*/


.social-media {
    margin-top: 40px;
    padding: 20px;
/*    background-color: #f9f9f9;*/
background-image: url('../images/bg_5.jpg');
background-size: 100% ;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.social-media h2 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 15px;
}

.social-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.social-item {
    flex: 1 1 200px;
    max-width: 200px;
    text-align: center;
}

.social-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.social-item p {
    font-family: cursive;
    font-size: 1.1em;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.4;
}

.social-item strong {
    color: black;
}

@media (max-width: 768px) {
    .social-media h2 {
        font-size: 1.5em;
    }

    .social-logo {
        width: 40px;
        height: 40px;
    }

    .social-item p {
        font-size: 1em;
    }
}



/*Interest and Hobbies css start*/


.interests-hobbies {
    margin-top: 40px;
    padding: 20px;
    background-image: url('../images/bg_4.jpg');
    background-size: 100%;
/*    background-color: #f9f9f9;*/
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.interests-hobbies h2 {
    font-size: 2em;
    color:black;
    margin-bottom: 15px;
    text-align: center;
}

.hobbies-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.text-content {
    flex: 2;
}

.text-content p, .text-content ul {

    color: #fff;
    font-size: 1.1em; 
    margin-bottom: 15px;
    line-height: 1.6;
}

.text-content ul {
    font-family: cursive;
    list-style-type: disc;
    padding-left: 20px;
}

.text-content strong {
    color: black;
}

./*image-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.interest-img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
*/
@media (max-width: 768px) {
    .interests-hobbies h2 {
        font-size: 1.5em;
    }

    .hobbies-content {
        flex-direction: column;
    }

    .text-content p, .text-content ul {

        font-size: 1em;

    }

    .image-content {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .interest-img {
        width: 45%;
        margin: 5px;
    }
}


/*hire me css section start*/


.contact-hire {
    margin-top: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.contact-hire h2 {
    font-size: 2em;
    color: #444;
    margin-bottom: 15px;
}

.contact-hire p {
    font-family: cursive;
    font-size: 1.1em;
    margin-bottom: 20px;
    line-height: 1.6;
    color: #333;
}

.contact-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1em;
    color: #fff;
    background-color:#ffbd39;;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.contact-button:hover {
    background-color: #FFA62F;
/*    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
}

@media (max-width: 768px) {
    .contact-hire h2 {
        font-size: 1.5em;
    }

    .contact-hire p {
        font-size: 1em;
    }

    .contact-buttons {
        flex-direction: column;
    }

    .contact-button {
        margin-bottom: 10px;
    }
}








/*footer section css*/

.footer {
    background: #121316;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-column h3 {
    margin-top: 0;
    font-size: 1.5em;
}

.footer-column p, .footer-column ul {
    margin: 0;
    padding: 0;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin: 5px 0;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-column p i {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}





/*3D card in footer*/

.parent {
  width: 290px;
  height: 300px;
  perspective: 1000px;
}

.card {
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(135deg, rgb(255, 189, 57) 0%, rgb(8, 226, 96) 100%);
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
  box-shadow: rgba(5, 71, 17, 0) 40px 50px 25px -40px, rgba(5, 71, 17, 0.2) 0px 25px 25px -5px;
}

.glass {
  transform-style: preserve-3d;
  position: absolute;
  inset: 8px;
  border-radius: 55px;
  border-top-right-radius: 100%;
  background: linear-gradient(0deg, rgba(245, 183, 7, 0.91) 0%, rgba(255, 255, 255, 0.815) 100%);
  /* -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); */
  transform: translate3d(0px, 0px, 25px);
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  transition: all 0.5s ease-in-out;
}

.content {
  padding: 100px 60px 0px 30px;
  transform: translate3d(0, 0, 26px);
}

.content .title {
  display: block;
  color: #00894d;
  font-weight: 900;
  font-size: 20px;
}

.content .text {
  display: block;
  color: rgba(0, 137, 78, 0.7647058824);
  font-size: 15px;
  margin-top: 20px;
}

.bottom {
  padding: 10px 12px;
  transform-style: preserve-3d;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translate3d(0, 0, 26px);
}

.bottom .view-more {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: flex-end;
  transition: all 0.2s ease-in-out;
}

.bottom .view-more:hover {
  transform: translate3d(0, 0, 10px);
}

.bottom .view-more .view-more-button {
  background: none;
  border: none;
  color: #00c37b;
  font-weight: bolder;
  font-size: 12px;
}

/*.bottom .view-more .svg {
  fill: none;
  stroke: #00c37b;
  stroke-width: 3px;
  max-height: 15px;
}*/

.bottom .social-buttons-container {
  display: flex;
  gap: 10px;
  transform-style: preserve-3d;
}

.bottom .social-buttons-container .social-button {
  width: 30px;
  aspect-ratio: 1;
  padding: 5px;
  background: #000;
/*  background: rgb(255, 255, 255);*/
  border-radius: 50%;
  border: none;
  display: grid;
  place-content: center;
  box-shadow: rgba(5, 71, 17, 0.5) 0px 7px 5px -5px;
}

.bottom .social-buttons-container .social-button:first-child {
  transition: transform 0.2s ease-in-out 0.4s, box-shadow 0.2s ease-in-out 0.4s;
}

.bottom .social-buttons-container .social-button:nth-child(2) {
  transition: transform 0.2s ease-in-out 0.6s, box-shadow 0.2s ease-in-out 0.6s;
}

.bottom .social-buttons-container .social-button:nth-child(3) {
  transition: transform 0.2s ease-in-out 0.8s, box-shadow 0.2s ease-in-out 0.8s;
}

.bottom .social-buttons-container .social-button .svg {
  width: 15px;
  fill: #00894d;
}

.bottom .social-buttons-container .social-button:hover {
  background: black;
}

.bottom .social-buttons-container .social-button:hover .svg {
  fill: white;
}

.bottom .social-buttons-container .social-button:active {
  background: rgb(255, 234, 0);
}

.bottom .social-buttons-container .social-button:active .svg {
  fill: black;
}

.logo {
  position: absolute;
  right: 0;
  top: 0;
  transform-style: preserve-3d;
}

.logo .circle {
  display: block;
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 0;
  right: 0;
  box-shadow: rgba(255, 179, 51, 0.2) -10px 10px 20px 0px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(0, 249, 203, 0.2);
  transition: all 0.5s ease-in-out;
}

.logo .circle1 {
  width: 170px;
  transform: translate3d(0, 0, 20px);
  top: 8px;
  right: 8px;
}

.logo .circle2 {
  width: 140px;
  transform: translate3d(0, 0, 40px);
  top: 10px;
  right: 10px;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  transition-delay: 0.4s;
}

.logo .circle3 {
  width: 110px;
  transform: translate3d(0, 0, 60px);
  top: 17px;
  right: 17px;
  transition-delay: 0.8s;
}

.logo .circle4 {
  width: 80px;
  transform: translate3d(0, 0, 80px);
  top: 23px;
  right: 23px;
  transition-delay: 1.2s;
}

.logo .circle5 {
  width: 50px;
  transform: translate3d(0, 0, 100px);
  top: 30px;
  right: 30px;
  display: grid;
  place-content: center;
  transition-delay: 1.6s;
}

.logo .circle5 .svg {
  width: 20px;
  fill: white;
}

.parent:hover .card {
  transform: rotate3d(1, 1, 0, 30deg);
  box-shadow: rgba(5, 71, 17, 0.3) 30px 50px 25px -40px, rgba(5, 71, 17, 0.1) 0px 25px 30px 0px;
}

.parent:hover .card .bottom .social-buttons-container .social-button {
  transform: translate3d(0, 0, 50px);
  box-shadow: rgba(5, 71, 17, 0.2) -5px 20px 10px 0px;
}

.parent:hover .card .logo .circle2 {
  transform: translate3d(0, 0, 60px);
}

.parent:hover .card .logo .circle3 {
  transform: translate3d(0, 0, 80px);
}

.parent:hover .card .logo .circle4 {
  transform: translate3d(0, 0, 100px);
}

.parent:hover .card .logo .circle5 {
  transform: translate3d(0, 0, 120px);
}

