.faq-section{
  background-image: url('https://i.pinimg.com/736x/92/3d/d1/923dd1b44de8e0666781b0973234fa03.jpg');
   background-size: cover;
  background-position: center;
/*  background-size: cover;*/
/*background-repeat: no-repeat;*/
}

.faq-container {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
/* background-color: hsl(335, 87%, 51%);;*/
   background-color: rgba(0, 0, 0, 0.7); 

  /* border-radius: 10px; */
/*   color: white; */
}

.faq-heading{
  text-align: center;
  color: #ffffff;
  font-size: 4rem;
}

.faq-item {
  border-top: 1px solid #444;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: inter,sans-serif;
/*  background-color: #00bfff;*/
  color: #fff;
  padding: 15px;timeline4-text01
  cursor: pointer;
}

.faq-question:hover {
  background-color: #ffbd45;
}

.faq-answer {
  display: none;
  padding: 15px;
  font-family: inter,sans-serif;
  background-color: whitesmoke;
}

.faq-icon {
  transition: transform 0.3s ease;
  display: inline-block;
    text-align: center;
    padding:;
    height: 4rem;
    width: 5rem;
    line-height: 4rem;
    font-size: 2rem;
    background: #333;
    color: #fff;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.open .faq-icon {
  transform: rotate(45deg);
}
